body {
  font-family: 'Roboto', 'Open Sans', 'Droid', 'Ubuntu', sans-serif;
}

div.Pill {
  margin-left: 5px;
  font-weight: 500;
  font-family: monospace;
}

div.Pill span {
  font-weight: bold;
  font-size: 1rem;
  padding-left: 6px;
}

body div.GOLDLine div {
  background-color: #ffa700;
  color: white;
}
body div.REDLine div {
  background-color: #ff5100;
  color: white;
}
body div.GREENLine div {
  background-color: green;
  color: white;
}
body div.BLUELine div {
  background-color: #30a7fa;
  color: white;
}
