body {
  font-family: 'Roboto', 'Open Sans', 'Droid', 'Ubuntu', sans-serif;
}

div.Pill {
  margin-left: 5px;
}

div.GOLDLine div {
  font-weight: 500;
  background-color: #ffa700;
  color: white;
}
body div.REDLine div {
  font-weight: 500;
  background-color: #ff5100;
  color: white;
}
body div.GREENLine div {
  font-weight: 500;
  background-color: green;
  color: white;
}
body div.BLUELine div {
  font-weight: 500;
  background-color: #30a7fa;
  color: white;
}
